<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vaccine Slot details</title>
  </head>
  <body>
<h1> Available Slots of Vaccines are:  </h1>
<ul>

 <%  for(var i = 0; i< vaccineSlot.length ;i++ ){ %>

    <li> <%= vaccineSlot[i] %> </li>



<% } %>
  </ul>

  </body>
</html>
